<div
  class="cardContent"
  *ngIf="ready"
  [hidden]="card.attributes.hidden"
  [ngClass]="{
    hasHeading: !(card.attributes.listeners && card.attributes.dismissListeners)
  }"
>
  <h4
    *ngIf="!(card.attributes.listeners && card.attributes.dismissListeners)"
    class="mw568 cardHeading ng-binding"
    dir="{{ dir$ | async }}"
  >
    {{ labelText }}
  </h4>

  <ng-container *ngIf="content && !(isModal$ | async)">
    <ng-container *ngFor="let cotentItem of content; trackBy: trackByFn">
      <app-content-paragraph
        *ngIf="cotentItem.type === 'paragraph'"
        [item]="cotentItem"
      ></app-content-paragraph>
      <app-content-form
        *ngIf="cotentItem.type === 'form'"
        [item]="cotentItem"
      ></app-content-form>
    </ng-container>
  </ng-container>
</div>
