<ng-container *ngIf="ready && !isHidden">
  <div
    class="mw568 buttonContent tc"
    [style.visibility]="isInvisible ? 'hidden' : 'visible'"
    dir="{{ dir$ | async }}"
  >
    <a
      *ngIf="button.url; else buttonTemplate"
      class="button"
      [href]="button.url"
      [ngStyle]="{
        'background-color': buttonBgColor,
        color: buttonTextColor
      }"
      target="_blank"
      rel="noopener noreferrer"
      (click)="onClick()"
      >{{ buttonText }}</a
    >
    <ng-template #buttonTemplate>
      <button
        type="button"
        class="button"
        [ngStyle]="{
          'background-color': buttonBgColor,
          color: buttonTextColor
        }"
        (click)="onClick()"
      >
        {{ buttonText }}
      </button>
    </ng-template>
  </div>
</ng-container>
