.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.8125;
    color: #333333;
    white-space: nowrap;
    font-size: 13px;
}

.navbar-nav>li>a {
    padding-top: 13.5px;
    padding-bottom: 17.5px;
}

.navbar{min-height: 50px;}
.center{
    margin-left: 10%;
    margin-right: 10%;
}



.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
    /*max-width: 100px;*/
    height: auto;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.align{
    margin-top:25px;
    margin-left: 150px;
    margin-right:180px;
}
.back{
    background-color: #000;
}


.container1 {
    position: relative;
    width: 100%;
   
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 1px solid lightgray;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image {
  opacity: 0.1;
}

.container1:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.custoum{
    margin-left: 27%;
}

.row{margin: 20px 30px;}

.RowHeaderCSS{
    margin-left: 25%
}


@media only screen and (max-width: 768px) {
    .RowHeaderCSS{
        margin-left: 0%
    }
}

.language-selector {
    cursor: pointer;
}