<div>
  <div class="header tc relative">
      <span class="l p25 absolute kg-gray-dark ng-binding" style="margin-left: 5%;">
          <i class="fas fa-home"></i>
          <!-- <i class="fas fa-chevron-up flip"></i> -->
        </span>
    <span class="l p25 absolute kg-gray-dark ng-binding" style="margin-left: 25%;">
      <i class="fas fa-book"></i>{{selectbook}}
      <i class="fas fa-chevron-up flip" (click)="Books()"></i>
    </span>
    <span class="l p25 absolute kg-gray-dark ng-binding" style="margin-left: 75%;">
      <i class="fas fa-language"></i> {{selectLan}}
      <i class="fas fa-chevron-up flip" (click)="Languages()"></i>
    </span>
    <div class="dib progress pill my25 kg-bg-gray-light">
      <div class="kg-bg-gray pill"> </div>
    </div>
   
  </div>

  <div class="px100 py25 kg-bg-gray-light ng-hide" *ngIf="books">

    <span class="w33 dib pill kg-bg-white-hover ng-scope" *ngFor="let book of allBooks" >

      <a class="w100 dib pill-inside ng-binding" (click)="selectBook(book)"> {{book.attributes.name}}</a>
    </span>
  </div>
  <div class="px100 py25 kg-bg-gray-light ng-hide" *ngIf="language">
    <span class="w33 dib pill kg-bg-white-hover ng-scope" *ngFor="let lang of selectedBookLanguauageTranslations">

      <a class="w100 dib pill-inside ng-binding" (click)="selectLanguage(lang)">{{lang.attributes.name}}</a>
    </span>

  </div>



</div>
<router-outlet></router-outlet>