.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.8125;
    color: #333333;
    white-space: nowrap;
    font-size: 13px;
}

.navbar-nav>li>a {
    padding-top: 13.5px;
    padding-bottom: 17.5px;
}

.navbar{min-height: 50px;}
.center{
    margin-left: 10%;
    margin-right: 10%;
}



.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
    /*max-width: 100px;*/
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.align{
    margin-top:25px;
    margin-left: 350px;
    margin-right:100px;
}
.back{
    background-color: grey;
}