/***** Elements *****/
html {
    background-color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}

p {
    line-height: 24px;
}

/***** High level *****/
.outerbox {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.mw568 {
  width: calc(100% - 48px);
  margin-left: 24px;
  margin-right: 24px;
}
.mw568.kg-bg-gray-light {
  margin-left: 0;
  margin-right: 0;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 616px) {
  /* 568 + 48 */
  .mw568 {
    max-width: 568px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/***** Language Selector *****/
.language-selector-toggle {
  line-height: 36px;
  padding: 12px 24px;
  cursor: pointer;
}

.language-selector-toggle .fas {
  margin-left: 5px;
}

.language-selector-toggle > .langicon {
  width: auto;
  float: left;
  margin-top: 10px;
  margin-right: 8px;
}

/***** Tool Header *****/
#toolHeader {
  position: relative;
  z-index: 1;
}

#languageList {
  background-color: #f0f0f0;
}

#languageList ul {
  columns: 2;
  margin: 0;
  padding: 0;
}

#languageList li {
  margin: 0;
  padding: 4px 16px;
  list-style-type: none;
  border-radius: 16px;
  line-height: 1.25;
}

#languageList li:hover {
  background-color: white;
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  #languageList ul {
    columns: 3;
  }
}
