.backwards-navigation {
  padding-inline: 20px;
  padding-top: 10px;
  display: inline-block;
}
.back-arrow-container {
  display: flex;
  justify-content: flex-start;
}

.back-arrow-container.rtl {
  justify-content: flex-end;
}

.back-arrow-container.rtl img {
  transform: rotate(180deg);
}
