/***** Global *****/
html{
    background-color: white !important;
}


/***** Bootstrap-ish *****/
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-4, .col-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}


/***** Language Selector *****/
.language-selector-toggle {
    line-height: 36px;
    padding: 12px 24px;
    cursor: pointer;
}

.language-selector-toggle .fas{
    margin-left: 5px;
}


/***** Tool Navigation *****/
.tool-navigation .buttons {
    width: calc(50% - 2px);
}


/***** Footer *****/
footer {
    text-align: left;
    padding: 12px 0;
    width: 100%;
    max-width: 568px;
    margin: 0 auto;
    border-top: var(--kg-gray-light) 2px solid;
    font-size: 11px;
}

/*footer > div {
    padding-left: 0;
    padding-right: 0;
}*/

footer img {
    height: 45px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

footer span {
    display: inline-block;
    line-height: 20px;
    margin-top: 25px;
}


/***** Other *****/
.mr25{
    margin-right:25px;
    margin-bottom: 40px;
}

.rtlpageno{
    margin-top: -8%;
    line-height : 30px;
}

.langicon{
    width: auto;
    float: left;
    margin-top: 10px;
    margin-right: 8px;
}

.pending-count{    position: absolute;
    text-align: right;
    right: 105px;
    top: 19px;
}

    .top{
        margin-top: -7%;
    }

    .cardtabs{
        /* float:left; */
         width: 48%;
         border: 1px solid #ddd;
         text-align: center;
         /* height:250px;
         overflow: scroll; */
    }

.calltoaction{
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    font-size: 24px;
}

.page{
    width: 768px;
    /* position: relative; */
    margin: 0 auto;
    /* left: 20%; */
    /* transform: translate(-50%, 0); */
    
}

.outerbox{
    align-content: center;
    align-items: center;
     
}

/*.footer{
    margin-left: 10px; 
    margin-top: 15px;    
}*/

.buttons{
    text-align: center; 
    padding-top: 15px;
    /* padding-bottom: 25px; */
    width: 264px;
    height:64px;
}

.buttons:hover{    
    text-decoration: none;
}

.pill-left{
margin-right: 2px;
}

.pill-right{
    margin-left: 2px;
}

.kg-bg-gray:hover{
    background-color: #e4e0e0;
    color:#bebebe;
    }

.kg-bg-blue:hover{
    background-color: #7fbfe0;
    color:#3ba4db;
}

.actionbutton{
    background-color: #3ba4db;
    width: 264px;
    height: 64px;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 35px; 
}

.actionbutton a{
    color:white;
    text-decoration: none;
    min-width: 310px;
    display: inline-block;
}

.cardbutton{
    background-color: #3ba4db; 
    text-align: center;
    border-radius: 50px 50px 50px 50px; 
    /* margin-left: 28%; */
    padding: 15px 25px; 
}

.cardbutton a{
    color:white;
    text-decoration: none;
    min-width: 150px;
    display: inline-block;
    margin: 7px 0px;
}

.cardlink{ 
    text-align:center;
    padding: 25px 25px;
    width: 100%;
    display: inherit;
    /* color:#3ba4db;
    float: left; */
}

.cardlink a{
    color:#3ba4db;    
}

.headerheight{ 
    margin-top: 60px;
    margin-bottom: 36px;
}

.headerheight h1 {
    line-height: 42px;
}

/*.imgwidth{
    min-width: 440px;
    max-width: 540px;
}*/

.form-control{
    border: 1px solid #3ba4db !important;
}



.actionbutton a:hover{
    color:#3ba4db;
}

.actionbutton:hover{   
    background-color: #7fbfe0;    
}

p{
    line-height: 28px;
}
