:host {
  display: block;
}

p.textContent {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

:host:not(:first-child) > p.textContent {
  margin-top: 12px;
}
