<ng-container *ngIf="ready">
  <div id="toolContent">
    <a
      (click)="navigateBack()"
      href="javascript:void(0)"
      *ngIf="showBackButton"
      class="backwards-navigation"
    >
      <img src="assets/img/back-arrow.png" alt="navigate back" />
    </a>
    <app-content-new-repeater
      [items]="content"
      *ngIf="content"
    ></app-content-new-repeater>
    <ng-container *ngIf="currentCard && (isModal$ | async) === false">
      <app-cyoa-card
        [card]="currentCard"
        [totalCards]="totalCards"
      ></app-cyoa-card>
    </ng-container>

    <div
      id="tool-navigation"
      class="mw568 tc"
      *ngIf="(isForm$ | async) === false && (isModal$ | async) === false"
    >
      <ng-container *ngIf="(dir$ | async) === 'ltr'">
        <!-- If not first page -->
        <ng-container *ngIf="!isFirstCard">
          <a
            (click)="showPreviousCard()"
            href="javascript:void(0)"
            class="button button-white far fa-arrow-left"
            ><span class="hide"></span
          ></a>
        </ng-container>

        <!-- If not last page -->
        <ng-container *ngIf="!isLastCard">
          <a
            (click)="showNextCard()"
            href="javascript:void(0)"
            class="button far fa-arrow-right"
            ><span class="hide"></span
          ></a>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(dir$ | async) === 'rtl'">
        <!-- If not first page -->
        <ng-container *ngIf="!isLastCard">
          <a
            (click)="showNextCard()"
            href="javascript:void(0)"
            class="button far fa-arrow-left"
            ><span class="hide"></span
          ></a>
        </ng-container>

        <!-- If not last page -->
        <ng-container *ngIf="!isFirstCard">
          <a
            (click)="showPreviousCard()"
            href="javascript:void(0)"
            class="button button-white far fa-arrow-right"
            ><span class="hide"></span
          ></a>
        </ng-container>
      </ng-container>
    </div>

    <ng-container *ngIf="(isModal$ | async) === false">
      <footer id="toolFooter">
        <span
          ><a href="https://godtoolsapp.com" target="_blank"
            >Learn more at godtoolsapp.com</a
          ></span
        >
        <span
          >© 1994-{{ currentYear }}
          <a href="https://cru.org" target="_blank">Cru</a>. All Rights
          Reserved.</span
        >
      </footer>
    </ng-container>
  </div>
</ng-container>
