<ng-container
  *ngIf="pagesLoaded || bookNotAvailableInLanguage || bookNotAvailable"
>
  <div class="outerbox">
    <header id="toolHeader">
      <div class="header tc relative">
        <app-sharing-modal [book]="selectedBookName"></app-sharing-modal>
        <span class="logo">
          <a href="/"><img src="assets/img/kg-logo-blue.png" /></a>
        </span>
        <span
          class="kg-gray-dark ng-binding language-selector-toggle"
          (click)="onToggleLanaguageSelect()"
        >
          <img src="assets/img/lang.png" class="langicon" /> {{ selectedLang }}
          <i class="fas fa-chevron-up flip"></i>
        </span>
      </div>
      <div id="languageList" class="py25 ng-hide" *ngIf="languagesVisible">
        <div class="mw568">
          <ul>
            <li
              class="ng-binding"
              dir="ltr"
              (click)="selectLanguage(lang, true)"
              *ngFor="let lang of availableLanguages"
            >
              {{ lang.attributes.name }}
            </li>
          </ul>
        </div>
      </div>
    </header>

    <app-tract-new-page
      *ngIf="activePage && !bookNotAvailableInLanguage && !bookNotAvailable"
      [page]="activePage"
      [order]="activePageOrder"
      [totalPages]="totalPages"
    >
    </app-tract-new-page>

    <ng-container *ngIf="bookNotAvailableInLanguage">
      <div class="bs-jumbotron tc" style="margin-top: 24px">
        <h2>This book isn't available in the currently selected language.</h2>
      </div>
    </ng-container>

    <ng-container *ngIf="bookNotAvailable">
      <div class="bs-jumbotron tc" style="margin-top: 24px">
        <h2>Failed to load the book.</h2>
      </div>
    </ng-container>
  </div>
</ng-container>
