.share {
    width: auto;
    height: auto;
}

.share img {
    display: block;
    padding: 22px 24px;
    cursor: pointer;
}

.sharemax{
  position: absolute;
  max-width: 50px;
  border-radius: 30px;
  background-color:  #e6e4e4; 
  top: 11px;
  right: 12px;
  padding-bottom: 5px;
}

.sharemax a {
  background-color:#4c4b4b;
  color:white;
  border-radius: 50%;
  margin: 2px; 
  display:inline-block;
}

.sharemax a div{
  font-size: initial;
}

.shareclose{
  color:black !important;
  background-color: transparent  !important;
}

.shareclose div{
  width:16px  !important;
  height:16px  !important;
  font-size:23px;
}

.toastr-copy{
  top: 12px;
  right: 12px;
}


#toast-container{
  top: 261px !important;
  right: 810px !important;
}

.toast-info {
  background-color: #e6e4e4 !important;
}


.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0;
  font-size: 14px;

  line-height: 36px;
  height: 36px;
  width: 36px;

  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
