<ng-container *ngIf="ready">
  <div
    id="toolContent"
    [ngClass]="{
      firstPage: isFirstPage$ | async,
      lastPage: isLastPage$ | async,
      hasPageHeader: hasPageHeader
    }"
  >
    <app-page-new-header
      *ngIf="header && (isModal$ | async) === false"
      [header]="header"
    ></app-page-new-header>
    <app-page-new-hero
      *ngIf="hero && (isModal$ | async) === false"
      [hero]="hero"
    ></app-page-new-hero>
    <ng-container *ngIf="cards && cards.length && (isModal$ | async) === false">
      <app-page-new-card
        *ngFor="let card of cards"
        [card]="card"
      ></app-page-new-card>
    </ng-container>
    <app-page-new-calltoaction
      *ngIf="
        callToAction &&
        (isForm$ | async) === false &&
        (isModal$ | async) === false
      "
      [item]="callToAction"
    ></app-page-new-calltoaction>

    <ng-container *ngIf="modal && (isModal$ | async)">
      <app-page-new-modal [modal]="modal"></app-page-new-modal>
    </ng-container>

    <div
      id="tool-navigation"
      class="mw568 tc"
      *ngIf="(isForm$ | async) === false && (isModal$ | async) === false"
    >
      <ng-container *ngIf="(dir$ | async) === 'ltr'">
        <!-- If not first page -->
        <ng-container *ngIf="(isFirstPage$ | async) === false">
          <button
            (click)="previous()"
            class="button button-white far fa-arrow-left"
          ></button>
        </ng-container>

        <!-- If not last page -->
        <ng-container *ngIf="(isLastPage$ | async) === false">
          <button (click)="next()" class="button far fa-arrow-right"></button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(dir$ | async) === 'rtl'">
        <!-- If not first page -->
        <ng-container *ngIf="(isLastPage$ | async) === false">
          <button (click)="next()" class="button far fa-arrow-left"></button>
        </ng-container>

        <!-- If not last page -->
        <ng-container *ngIf="(isFirstPage$ | async) === false">
          <button
            (click)="previous()"
            class="button button-white far fa-arrow-right"
          ></button>
        </ng-container>
      </ng-container>
    </div>

    <ng-container
      *ngIf="(isModal$ | async) === false && (isModal$ | async) === false"
    >
      <footer id="toolFooter">
        <span
          ><a href="http://godtoolsapp.com" target="_blank"
            >Learn more at godtoolsapp.com</a
          ></span
        >
        <span
          >© 1994-{{ currentYear }}
          <a href="http://cru.org" target="_blank">Cru</a>. All Rights
          Reserved.</span
        >
      </footer>
    </ng-container>
  </div>
</ng-container>
