<header id="homeHeader" class="homeHeaderFooter">
  <div class="bs-container">
    <img src="assets/img/kg-logo.png" />
    <div class="language-switcher">
      <div
        class="selector"
        *ngIf="sectionReady"
        dir="{{ dispLanguageDirection }}"
        (click)="onSwitchLanguage()"
      >
        <img src="assets/img/lang_white.png" />
        <span>{{ dispLanguageName }}</span>
        <i class="fas fa-chevron-up flip"></i>
      </div>
      <i class="fas fa-spinner fa-spin" *ngIf="!sectionReady"></i>
    </div>
  </div>
</header>

<section id="homeTools">
  <app-dashboard-list
    title="Tools"
    [resources]="tools"
    [dispLanguageDirection]="dispLanguageDirection"
    (resourceClick)="navigateToPage($event)"
  >
  </app-dashboard-list>

  <app-dashboard-list
    title="Lessons"
    [resources]="lessons"
    [dispLanguageDirection]="dispLanguageDirection"
    (resourceClick)="navigateToPage($event)"
  >
  </app-dashboard-list>
</section>

<footer
  id="homeFooter"
  class="homeHeaderFooter"
  [ngClass]="{ 'section-loading': !sectionReady }"
>
  <div class="bs-container">
    ©1994-{{ currentYear }} Cru. All Rights Reserved.
    <a href="https://godtoolsapp.com/terms-of-use/" target="_blank"
      >Terms of Use</a
    >.
    <a href="https://www.cru.org/us/en/about/privacy.html" target="_blank"
      >Privacy Policy</a
    >.
  </div>
</footer>

<div id="languageSwitchModal" *ngIf="langSwitchOn">
  <div class="modal-content">
    <div class="modal-close">
      <i class="fas fa-times" (click)="onSwitchLanguage()"></i>
    </div>
    <input
      type="text"
      ng-model="searchQuery"
      placeholder="Search languages..."
    />
    <ul
      class="languages-grid"
      ng-repeat="lang in availableLanguages | filter:searchQuery"
    >
      <li
        class="language"
        *ngFor="let lang of availableLangs"
        (click)="onSelectLanguage(lang.code)"
      >
        {{ lang.name }}
      </li>
    </ul>
  </div>
</div>
