:root {
  --kg-blue: #3BA4DB;
  --kg-blue-light: #7fbfe0;
  --kg-gray: #BEBEBE;
  --kg-gray-light: #E6E6E6;
  --kg-gray-dark: #5A5A5A;
  --kg-white: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  color: var(--kg-gray-dark);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 14.5px;
  color: var(--kg-blue);
}
h1, h2, h3, h4 {
  font-weight: 200;
}
h5, h6 {
  font-weight: 400;
}
h1 {
  font-size: 96px;
  margin: 0;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
  text-align: center;
}
h4 {
  font-size: 36px;
}
p {
  margin:0 0 14.5px;
}
a {
  text-decoration: none;
  color: var(--kg-gray-dark);
}
img {
  max-width: 100%;
  height: auto;
}
/*Specific Area css*/
.header {
  height: 60px;
}
.share {
  width: 24px;
  height: 24px;
}
/*Helper class css*/
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.l {
  left: 0;
}
.r {
  right: 0;
}
.v-mid {
  vertical-align: middle;
}
.b-white {
  border: 2px solid var(--kg-white);
}
.pill {
  border-radius: 20px;
}
.pill-right {
  border-radius: 0 50px 50px 0;
}
.pill-left {
  border-radius: 50px 0 0 50px;
}
.pill-inside {
  padding: 4px 20px 4px 20px;
}
.px44 {
  padding-right: 44px;
  padding-left: 44px;
}
.px100 {
  padding-right: 100px;
  padding-left: 100px;
}
.p25 {
  padding: 22px;
}
.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m10 {
  margin: 10px;
}
.mt15 {
  margin: 15px 25px 25px 25px;
}
.m25 {
  margin: 22px;
}
.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.mx44 {
  margin-left: 44px;
  margin-right: 44px;
}
.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}
.mx114 {
  margin-left: 114px;
  margin-right: 114px;
}
.action{
  text-align: right;
    font-style: italic;
    padding-top: 10px;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.w33 {
  width: 33%;
}
.w50 {
  width: 49%;
}
.w100 {
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.progress {
  width: 200px;
}
.progress div {
  height: 8px;
}
.fa-chevron-up {
  transition: .2s;
}
.fa-chevron-up.flip{
  transform: scaleY(-1);
  transition: .2s;
}
.tc {
  text-align: center;
}
.tc img {
  margin: 0 auto;
}
.tr {
  text-align: right;
}
.line {
  border-top: var(--kg-gray-light) 2px solid;
}
.f11 {
  font-size: 11px;
}

.frame-square {
  width: 100%;
  padding-top: 80%;
  overflow: hidden;
  position: relative;
}

.frame-square img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }

/*CSS Colors */
.kg-blue {
  color: var(--kg-blue);
}
.kg-bg-blue {
  background-color: var(--kg-blue);  
}
.kg-bg-gray {
  background-color: var(--kg-gray);
}
.kg-bg-gray-dark {
  background-color: var(--kg-gray-dark);
}
.kg-gray-light {
  color: var(--kg-gray-light);
}
.kg-gray-dark {
  color: var(--kg-gray-dark);
}
.kg-bg-gray-light {
  background-color: var(--kg-gray-light);
}
.kg-white {
  color: var(--kg-white);
}
.kg-bg-white {
  background-color: var(--kg-white);
  cursor: pointer;
}
.kg-bg-white-hover:hover {
  background-color: var(--kg-white);
  cursor: pointer;
}


/***** Bootstrap-ish *****/
.bs-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.bs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/*.bs-col-3, .bs-col-4, .bs-col-5, .bs-col-7, .bs-col-8, .bs-col-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.bs-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.bs-col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.bs-col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.bs-col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.bs-col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.bs-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}*/

.bs-card-deck {
  display: flex;
  flex-direction: column;
}

.bs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,0.125);
  border-radius: 8px;
}

.bs-card-deck .bs-card {
  margin-bottom: 15px;
}

.bs-card-img-top {
  width: 100%;
  border-top-left-radius: calc(8px - 0px);
  border-top-right-radius: calc(8px - 0px);
}

.bs-card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.bs-card-title {
  margin-bottom: 0.75rem;
}

.bs-card-text:last-child {
  margin-bottom: 0;
}

.bs-jumbotron {
  padding: 30px 24px;
  margin-top: 20%;
  margin-bottom: 30px;
  background-color: #eeeeee;
  border-radius: 3px;
  color: inherit;
}

.bs-jumbotron h2 {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .bs-container {
    max-width: 540px;
  }
  .bs-card-deck {
    flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .bs-card-deck .bs-card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .bs-jumbotron {
    padding: 48px 60px;
  }
}
@media (min-width: 768px) {
  .bs-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .bs-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .bs-container {
    max-width: 1140px;
  }
}
