.accordion {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--kg-gray-light);
  background-color: var(--kg-white);
  overflow: hidden;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-family:
    Source Sans Pro,
    sans-serif !important;
  border: none;
  outline: none;
  transition: 0.4s;
  color: var(--kg-gray-dark);
  background-color: var(--kg-gray-light);
  transition: all 0.3s linear;
  position: relative;
  display: flex;
  align-items: center;
}

.accordion-header:hover {
  background-color: var(--kg-gray);
  color: var(--kg-gray-dark);
}
.accordion-header:active {
  background-color: var(--kg-gray-medium-dark);
}

.accordion-header i {
  position: absolute;
  right: 20px;
  transition: all 0.2s linear;
}

.accordion.mw568.active .accordion-header i.fa-chevron-down {
  transform: rotate(180deg);
}

/* Style the accordion panel. Note: hidden by default */
.accordion-content {
  padding: 0 18px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  padding: 0px 24px;
}

.accordion.active .accordion-content {
  padding: 0px 24px 24px;
  max-height: 400px;
}

.accordion-content app-content-repeater {
  margin-top: 0;
}
