.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
    /*max-width: 100px;*/
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.align{
    margin-top:25px;
    margin-left: 350px;
    margin-right:100px;
}
.back{
    background-color: grey;
}