:host {
    width: 100%;
    display: block;
}

div.animation-container {
    display: block;
}

div.animation-container > .hasEvents {
    cursor: pointer;
}


@media screen and (max-width: 615px) {
    div.animation-container {
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 616px) {
    div.animation-container {
        width: 560px;
        margin: 0 auto;
    }
}