<ng-container *ngIf="ready">

  <div
    id="toolContent"
    [ngClass]="{
      'tc': (isFirstPage$|async) || (isLastPage$|async),
      'firstPage': (isFirstPage$|async),
      'lastPage': (isLastPage$|async)
    }"
  >

    <app-page-header *ngIf="header && !(isModal$|async)" [header]="header"></app-page-header>
    <app-page-hero *ngIf="hero && !(isModal$|async)" [hero]="hero"></app-page-hero>
    <ng-container *ngIf="cards && cards.length && !(isModal$|async)">
      <app-page-card *ngFor="let card of cards" [card]="card"></app-page-card>
    </ng-container>
    <app-page-calltoaction *ngIf="callToAction && !(isModal$|async)" [item]="callToAction"></app-page-calltoaction>

    <ng-container *ngIf="modal && (isModal$|async)">
      <app-page-modal [modal]="modal"></app-page-modal>
    </ng-container>

    <div id="tool-navigation" class="mw568 tc" *ngIf="!(isForm$|async) && !(isModal$|async)">
      <ng-container *ngIf="(dir$|async) === 'ltr'">
        <!-- If not first page -->
        <ng-container *ngIf="!(isFirstPage$|async)">
          <a
            (click)="previous()"
            class="button button-white far fa-arrow-left"
          ></a>
        </ng-container>

        <!-- If not last page -->
        <ng-container *ngIf="!(isLastPage$|async)">
          <a
            (click)="next()"
            class="button far fa-arrow-right"
          ></a>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(dir$|async) === 'rtl'">
        <!-- If not first page -->
        <ng-container *ngIf="!(isLastPage$|async)">
          <a
            (click)="next()"
            class="button far fa-arrow-left"
          ></a>
        </ng-container>

        <!-- If not last page -->
        <ng-container *ngIf="!(isFirstPage$|async)">
          <a
            (click)="previous()"
            class="button button-white far fa-arrow-right"
          ></a>
        </ng-container>
      </ng-container>      
    </div>

    <ng-container *ngIf="!(isModal$|async) && !(isModal$|async)">
      <footer id="toolFooter">
        <span
          ><a href="http://godtoolsapp.com" target="_blank"
            >Learn more at godtoolsapp.com</a
          ></span
        >
        <span
          >© 1994-{{ currentYear }}
          <a href="http://cru.org" target="_blank">Cru</a>. All Rights
          Reserved.</span
        >
      </footer>
    </ng-container>    
  </div>

</ng-container>